*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  background-color: #0d1a2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
  border-radius: 10px;
  background-color: #15273f;
}

.card img{
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card h2{
  margin-bottom: 20px;
}

.card p:first-of-type{
  color: #617899;
  margin-bottom: 20px;
  max-width: 280px;
}

.card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .content .eth,
.card .content .clock{
  display: flex;
  align-items: center;
}

.card .content .eth img,
.card .content .clock img{
  width: 10px;
}

.card .content .eth p,
.card .content .clock p{
  display: inline;
  margin-left: 7px;
}

.card .content .eth p{
  color: #2bf4f6;
}

.card .avatar{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #2a3c54;
  display: flex;
  align-items: center;
}

.card .avatar img{
  width: 30px;
  border-radius: 50%;
  border: 2px solid white;
}

.card .avatar p{
  margin-left: 10px;
  color: white;
}

.card .avatar p span{
  color: #617899;
  margin-right: 5px;
}
